<button type="button" class="btn btn-primary"  (click)="getScientificPapers()">Refresh</button>
<h4 *ngIf="!scientificPapers || scientificPapers.length===0"> &nbsp;&nbsp;There are currently no scientific papers.</h4>
<div class="table-responsive" *ngIf="scientificPapers && scientificPapers.length > 0">
  <table class="table table-hover table-bordered">
    <tr class="table-primary">
        <th>#</th>
        <th>Title</th>
        <th>Keywords</th>
        <th>Abstract</th>
        <th>Scientific Area</th>
        <th>Author</th>
        <th>Coauthors</th>
        <th></th>
    </tr>
    <ng-template ngFor let-scientificPaper let-i="index" [ngForOf]="scientificPapers">
        <tr class="table-info">
            <td>
                {{i+1}}.
            </td>
            <td>
                {{scientificPaper.title}}
            </td>
            <td>
                {{scientificPaper.keywords}}
            </td>
            <td>
                {{scientificPaper.scientificPaperAbstract}}
            </td>
            <td>
                {{scientificPaper.scientificArea}}
            </td>
            <td>
                {{scientificPaper.author}}
            </td>
            <td>
                {{scientificPaper.coauthors}}
            </td>
            <td>
                <button class="btn btn-primary" (click)="getPdfContentFromServer(scientificPaper.id, scientificPaper.title)">Download</button>
            </td>
        </tr>
    </ng-template>
  </table>
</div>