<button type="button" class="btn btn-primary"  (click)="getScientificPapers()">Refresh</button>
<h4 *ngIf="!scientificPapers || scientificPapers.length===0"> &nbsp;&nbsp;There are currently no scientific papers.</h4>
<div class="table-responsive" *ngIf="scientificPapers && scientificPapers.length > 0">
  <table class="table table-hover table-bordered">
    <tr class="table-primary">
        <th>#</th>
        <th>Title</th>
        <th>Keywords</th>
        <th>Abstract</th>
        <th>Scientific Area</th>
        <th>Author</th>
        <th>Coauthors</th>
        <th></th>
    </tr>
    <ng-template ngFor let-scientificPaper let-i="index" [ngForOf]="scientificPapers">
        <tr class="table-info">
            <td>
                {{i+1}}.
            </td>
            <td>
                {{scientificPaper.title}}
            </td>
            <td>
                {{scientificPaper.keywords}}
            </td>
            <td>
                {{scientificPaper.scientificPaperAbstract}}
            </td>
            <td>
                {{scientificPaper.scientificArea}}
            </td>
            <td>
                {{scientificPaper.author}}
            </td>
            <td>
                {{scientificPaper.coauthors}}
            </td>
            <td>
                <select *ngIf="!magazine.paidUpTo" [(ngModel)]="planId" name="planId">
                    <option *ngFor="let plan of scientificPapers.plans" [ngValue]="plan.id"> {{plan.name}}</option>
                </select>
                <button *ngIf="scientificPaper.paidUpTo" class="btn btn-primary" (click)="getPdfContentFromServer(scientificPaper.id, scientificPaper.title)">Download</button>
                <button *ngIf="!scientificPaper.paidUpTo" class="btn btn-danger" (click)="pay(scientificPaper.id)">Pay</button>
                <select *ngIf="!scientificPaper.paidUpTo" [(ngModel)]="plan" name="planId">
                    <option *ngFor="let plan of scientificPaper.plans" [ngValue]="plan.id"> {{plan.name}}</option>
                </select>
                <button *ngIf="!scientificPaper.paidUpTo" class="btn btn-danger" (click)="pay(scientificPaper.id)">Pay</button>
                <p *ngIf="scientificPaper.paidUpTo"><b>{{scientificPaper.paidUpTo}}</b></p>
            </td>
        </tr>
    </ng-template>
  </table>
</div>