<button type="button" class="btn btn-primary"  (click)="getScientificPapersForReviewing()">Refresh</button>
<h4 *ngIf="!scientificPapers || scientificPapers.length===0"> &nbsp;&nbsp;There are currently no scientific papers.</h4>
<div class="table-responsive" *ngIf="scientificPapers && scientificPapers.length > 0">
  <table class="table table-hover table-bordered">
    <tr class="table-primary">
        <th>#</th>
        <th>Title</th>
        <th>Keywords</th>
        <th>Abstract</th>
        <th>Scientific Area</th>
        <th>Author</th>
        <th>Coauthors</th>
        <th></th>
        <th></th>
    </tr>
    <ng-template ngFor let-scientificPaper let-i="index" [ngForOf]="scientificPapers">
        <tr class="table-info">
            <td class="class_index" rowspan="2">
                {{i+1}}.
            </td>
            <td>
                {{scientificPaper.title}}
            </td>
            <td>
                {{scientificPaper.keywords}}
            </td>
            <td>
                {{scientificPaper.scientificPaperAbstract}}
            </td>
            <td>
                {{scientificPaper.scientificArea}}
            </td>
            <td>
                {{scientificPaper.author}}
            </td>
            <td>
                {{scientificPaper.coauthors}}
            </td>
            <td>
                <button class="btn btn-primary" (click)="getPdfContentFromServer(scientificPaper.taskId, scientificPaper.title)">Download</button>
            </td>
            <td>
                <button type="button" class="btn btn-success"  (click)="reviewPaper(scientificPaper.taskId, 'ACCEPT', '', '')">ACCEPT</button>
            </td>
        </tr>
        <tr class="table-info">
            <td colspan="7">
                <textarea rows="4" cols="100" placeholder="Comment for author" [(ngModel)]="scientificPaper.commentForAuthor" name="commentForAuthor"> </textarea>
                <textarea rows="4" cols="100" placeholder="Comment for editor" [(ngModel)]="scientificPaper.commentForEditor" name="commentForEditor"> </textarea>
            </td>
            <td>
                <button type="button" class="btn btn-warning" (click)="reviewPaper(scientificPaper.taskId, 'ACCEPT_WITH_MINOR_UPDATES', scientificPaper.commentForAuthor, scientificPaper.commentForEditor)">ACCEPT WITH MINOR UPDATES</button>
                <button type="button" class="btn btn-warning" (click)="reviewPaper(scientificPaper.taskId, 'CONDITIONALLY_ACCEPT_WITH_BIGGER_UPDATES', scientificPaper.commentForAuthor, scientificPaper.commentForEditor)">CONDITIONALLY ACCEPT WITH BIGGER UPDATES</button>
                <button type="button" class="btn btn-danger" (click)="reviewPaper(scientificPaper.taskId, 'DECLINE', scientificPaper.commentForAuthor, scientificPaper.commentForEditor)">DECLINE</button>
            </td> 
        </tr>
    </ng-template>
  </table>
</div>