<section id="tabs">
    <div class="row">
        <div class="col-xl-12 ">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-magazines-page-tab" data-toggle="tab" href="#nav-magazines-page" role="tab" aria-controls="nav-magazines-page" aria-selected="true">MAGAZINES</a>
                    <a class="nav-item nav-link" id="nav-repair-scientific-papers-tab" data-toggle="tab" href="#nav-repair-scientific-papers" role="tab" aria-controls="nav-repair-scientific-papers" aria-selected="false">REPAIR SCIENTIFIC PAPERS</a>
                    <a class="nav-item nav-link" id="nav-review-scientific-papers-tab" data-toggle="tab" href="#nav-review-scientific-papers" role="tab" aria-controls="nav-review-scientific-papers" aria-selected="false">REVIEW SCIENTIFIC PAPERS</a>
                    <a class="nav-item nav-link" id="nav-pending-scientific-papers-tab" data-toggle="tab" href="#nav-pending-scientific-papers" role="tab" aria-controls="nav-pending-scientific-papers" aria-selected="false">PENDING SCIENTIFIC PAPERS</a>
                </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-magazines-page" role="tabpanel" aria-labelledby="nav-magazines-page-tab">
                    <app-magazines-page> </app-magazines-page>
                </div>
                <div class="tab-pane fade" id="nav-repair-scientific-papers" role="tabpanel" aria-labelledby="nav-repair-scientific-papers-tab">
                    <app-repair-scientific-papers> </app-repair-scientific-papers>
                </div>
                <div class="tab-pane fade" id="nav-review-scientific-papers" role="tabpanel" aria-labelledby="nav-review-scientific-papers-tab">
                    <app-review-scientific-papers> </app-review-scientific-papers>
                </div>
                <div class="tab-pane fade" id="nav-pending-scientific-papers" role="tabpanel" aria-labelledby="nav-pending-scientific-papers-tab">
                    <app-pending-scientific-papers> </app-pending-scientific-papers>
                </div>
            </div>
        </div>
    </div>
</section>