<h4 *ngIf="!magazines || magazines.length===0"> &nbsp;&nbsp;There are currently no magazines with invalid data.</h4>
<div class="table-responsive" *ngIf="magazines && magazines.length > 0">
  <table class="table table-hover table-bordered">
    <tr class="table-primary">
        <th>#</th>
        <th>Magazine Name</th>
        <th></th>
    </tr>
    <tr *ngFor="let magazine of magazines; let i = index" class="table-info">
    <td>
        {{i+1}}.
    </td>
      <td>
        {{magazine.magazineName}}
      </td>
      <td>
        <button type="button" class="btn btn-primary"  (click)="editMagazine(magazine.processInstanceId)">Edit Magazine</button>
      </td>
    </tr>
  </table>
</div>