
<form class="form-register" (ngSubmit)="finish()">
    <div class="scrollbar-payment-types scrollbar-primary">
        <div *ngFor="let formFieldsForPaymentType of formFieldsForPaymentTypes">
            <h4>{{formFieldsForPaymentType.paymentType}}</h4>
            <ng-template ngFor let-field [ngForOf]="formFieldsForPaymentType.formFields">
                <label for="id_{{field.name}}">
                    {{field.name}}
                    <ng-template [ngIf]="field.optional"> (optional) </ng-template>
                </label>
                <input *ngIf="field.type === 'string'" type="text" class="form-control" id="id_{{field.name}}" [(ngModel)]="field.value"
                    name="{{field.name}}"/>
                <input *ngIf="field.type === 'boolean'" type="checkbox" class="form-control" id="id_{{field.name}}" [(ngModel)]="field.value"
                    name="{{field.name}}"/>
                <input *ngIf="field.type === 'long'" type="number" class="form-control" id="id_{{field.name}}" [(ngModel)]="field.value"
                    name="{{field.name}}"/>
                <hr/>
            </ng-template>
        </div>
    </div>
    <button class="btn btn-primary btn-block" type="submit">Finish Creating Magazine</button>
</form>
