
<h4>Transactions</h4>

<div>
  <a class="btn btn-success btn-lg" [routerLinkActive]="['active']" href="#" [routerLink]="['/magazines-page']">Show Magazines</a>
  <hr/>
</div>

<h4 *ngIf="!transactions || transactions.length===0"> &nbsp;&nbsp;There are currently no transactions.</h4>
<div class="table-responsive" *ngIf="transactions && transactions.length > 0">
  <table class="table table-hover table-bordered">
    <tr class="table-primary">
        <th>#</th>
        <th>Merchant Order Id</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>Merchant Timestamp</th>
        <th>Timestamp</th>
        <th>Payment Type</th>
        <th>Status</th>
    </tr>
    <tr *ngFor="let transaction of transactions; let i = index" class="table-info">
      <td>
          {{i+1}}.
      </td>
      <td>
        {{transaction.merchantOrderId}}
      </td>
      <td>
        {{transaction.amount}}
      </td>
      <td>
        {{transaction.currency}}
      </td>
      <td>
        {{transaction.merchantTimestamp}}
      </td>
      <td>
        {{transaction.timestamp}}
      </td>
      <td>
        {{transaction.paymentType}}
      </td>
      <td>
        {{transaction.status}}
      </td>
    </tr>
  </table>
</div>